.top {
    width: 100%;
}

.top form {
    width: 300px !important;
}

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 12px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.underline {
    text-decoration: none;
}

.underline:hover {
    text-decoration: underline !important;
    text-decoration-thickness: 2px;
    text-decoration-color: white;

}

.cat-card {
    height: 200px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 10px;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.cat-card-body {
    height: 100%;
}

.cat-card-body h3 {
    transition: all linear .2s;
    color: white;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    transform: scale(.8);
}

.cat-card-body:hover h3 {
    transform: scale(1.3);
    transition: all linear .2s;
    bottom: 25%;
}

.cat-card-no {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.product-card {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 10px;
    position: relative;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    object-fit: fill;
    height: 250px;
}

.product-card-body {}

.product-card-body h3 {
    font-size: 25px;
}



.clear {
    position: relative;
    left: 80%;
}

.product-card-body p {
    margin: 0;
}

.product-card .icons {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.product-card .eye {
    float: right;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.product-card .icons i {
    display: none;
    transition: all .2s linear;
}

.product-card:hover .icons i {
    display: block;
    transition: all .2s linear;
}